<h1>WELCOME TO RAILS</h1>

<%= link_to 'ADD A NEW STUDENT', new_student_path %>

<h2>Microverse Students List</h2>

<table>
 <thead>
   <tr>
      <th>first_name</th> 
      <th>last_name</th>
      <th>email</th>
      <th>address</th>
      <th>program</th>
      <th colspan="3">Actions</th>
    </tr>
 </thead>
 <tbody>
  <% @students.each do |student|%>
    <tr>
      <td><%= student.first_name%></td>
      <td><%= student.last_name%></td>
      <td><%= student.email%></td>
      <td><%= student.address%></td>
      <td><%= student.program%></td>
      </td>
      <td><%= link_to 'View details',student %></td>
      <td><%= link_to 'Edit details', edit_student_path(student) %></td>
    </tr>
  <%end%>
 </tbody>
</table>